{% extends 'base.html' %}

{% load static %}

{% block title %}Home{% endblock %}

{% block content %}

<h3>{{naam}}</h3>


<div class="container">

  <div class="row offset-bottom-xxl">
    <div class="col-sm-3">
      <select class="form-control years" name="" id='form_control'>
          <option value="1"> laatste 12 maanden </option>
        {% for jaar in jaren %}
          <option value="{{jaar|date:'Y'}}"> {{jaar|date:'Y'}} </option>
        {% endfor %}
      </select>
    </div>
    <div class="col-sm-4">
      {% if rol.naam == 'teamleider' %}
      <div class="btn-toolbar">
        <div class="btn-group active" data-toggle="buttons" id="niveaukeuze">
          <label class="btn btn-primary"><input type="radio" name="optradio_level" value="i">Individueel</label>
          <label class="btn btn-primary active"><input type="radio" name="optradio_level" value="v">Vestiging</label>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
    <div class="row">
        <div class="col-sm-6">
          <svg id='chart' class="chart"> </svg>
        </div>

        <div class="col-sm-6">
          <svg id='chart2' class="chart"> </svg>
        </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <table class="table-condensed table-bordered small">
          <tbody>
          </tbody>
        </table>
      </div>

    </div>
</div>

{% endblock %}



{% block scripts %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.5/nv.d3.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.2/d3.min.js" charset="utf-8"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.5/nv.d3.min.js"> </script>

<script src = "{% static 'productiviteit/js/ajax_data.js'%}"></script>

<script type="text/javascript">
  // on click functie toevoegen aan select
  initialise('#form_control', "input[name='optradio_level']")
  // eerste vulling laten plaatsvinden
  get_and_fill()

</script>



{% endblock %}
