{% extends 'base.html' %}

{% load static %}

{% block title %}Planningsoverzicht{% endblock %}

{% block content %}
<h2>Overzicht planningen</h2> <br>


<ul class="list-unstyled">
  {% for medewerker in medewerkers %}
    <li> <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h5>{{medewerker}}</h5>
            </div>
            <div class="col-sm-4">
                <a href="/planning/lijst/{{medewerker.pk}}">Planningen</a>
            </div>
            <div class="col-sm-4">
                <a href="/home/{{medewerker.pk}}">Overzicht</a>
            </div>
        </div>

    </div></li>
  {% endfor %}
</ul>

{% endblock %}

{% block scripts %}

{% endblock %}
