{% extends 'base.html' %}

{% load static %}

{% block title %}Planningsoverzicht{% endblock %}

{% block content %}
<h2> {{naam}}: Behandelaars</h2> <br>

<div class="row offset-bottom-xxl">
  <div class="col-sm-3">
    <select class="form-control years" name="" id='form_control'>
        <option value="1"> laatste 12 maanden </option>
      {% for jaar in jaren %}
        <option value="{{jaar|date:'Y'}}"> {{jaar|date:'Y'}} </option>
      {% endfor %}
    </select>
  </div>
</div>

<div class="row offset-bottom-xxl">
  <div class="col-sm-12">
    <table id="medewerker_lijst">
     <thead>
       <tr>
         <th>naam</th>
         <th>beschikbaar</th>
         <th>ipp_medewerk</th>
         <th>direct</th>
         <th>productiviteit</th>
       </tr>
     </thead>
    </table>
  </div>
</div>



<!--verborgen element om niveau overzicht in opslaan  -->
<p class='hidden level'>{{niveau}}</p>


{% endblock %}

{% block scripts %}

<link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css">
<script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"> </script>


<script src = "{% static 'productiviteit/js/ajax_employee_list.js'%}"></script>


<script type="text/javascript">
  var context_pk = Number("{{naam.pk}}")
  initialise('#form_control')
  //
  get_fill(pk = context_pk)
</script>

{% endblock %}
